#menuButton {
    position: absolute;
    top: -1%;
    left: -1%;
    width: 8%;
    height: 16%;
    background-color: transparent;
    border: none;
}

#menuButton > img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#doneToday {
    width: 20%;
    height: 100vh;
    background-color: black;
}

.animationOnDivRight {
    animation: slipeRight 1.2s ease;
}

.animationOnDivLeft {
    animation: slipeLeft 1.2s ease;
}

@keyframes slipeRight {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes slipeLeft {
    0% {
        width: 20%;
    }
    100% {
        width: 0%;
    }
}

.animationRight {
    animation: moveRight 1.2s ease;
}

.animationLeft {
    animation: moveLeft 1.2s ease;
}

@keyframes moveRight {
    0% {
        left: -1%;
    }    
    100% {
        left: 20%;
    }
}

@keyframes moveLeft {
    0% {
        left: 20%;
    }    
    100% {
        left: -1%;
    }
}

#titleText {
    text-align: center;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.7vmax;
    border-top: 2px solid white;
}

.doneTodayProperties {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8vmax;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
    padding: 5px;
}